    @import "../../../adappt-constans.scss";
    .alert-radio-red {
        color: red;
    }
    
    .alert-radio-green {
        color: $adappt-green;
    }
    
    .tooltip-red {
        background: #b71c1c;
    }
    
    td {
        text-align: justify;
    }
    
    .material-icons-new {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 57px;
    }
    
    .icon-white {
        webkit-filter: contrast(4) invert(1);
        -moz-filter: contrast(4) invert(1);
        -o-filter: contrast(4) invert(1);
        -ms-filter: contrast(4) invert(1);
        filter: contrast(4) invert(1);
    }