<div fxFlex>
    <h3 mat-dialog-title>Connect to Wifi Network</h3>
    <div mat-dialog-content>
        <!-- <p>Select Service type</p> -->
        <div fxLayout="column">
            <form fxLayout="column" [formGroup]="wifiFormGroup" (ngSubmit)="wifiConnect();onclick();">
                <!-- <mat-slide-toggle color="primary" [(ngModel)]="hasParking" (change)="toggle($event)"
                    formControlName="hasParking">
                    Parking
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" [(ngModel)]="hasLMS" (change)="toggle($event)"
                    formControlName="hasLMS">
                    LMS
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" [(ngModel)]="hasOpenArea" (change)="toggle($event)"
                    formControlName="hasOpenArea">
                    Open Area
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" [(ngModel)]="hasHotdesk" (change)="toggle($event)"
                    formControlName="hasHotdesk">
                    Hot Desk
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" [(ngModel)]="hasCrbs" (change)="toggle($event)"
                    formControlName="hasCrbs">
                    CRBS
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" [(ngModel)]="hasOccupancy" (change)="toggle($event)"
                    formControlName="hasOccupancy">
                    Occupancy
                </mat-slide-toggle>
                <mat-slide-toggle color="primary" [(ngModel)]="hasAllocation" (change)="toggle($event)"
                    formControlName="hasAllocation">
                    Seat Allocation
                </mat-slide-toggle> -->


                <!-- <form [formGroup]="form" novalidate>
                <mat-form-field class="select-form">
                    <mat-select [formControl]="selectedServices" placeholder="Services" multiple>
                        <mat-option *ngFor="let product of productType" selected="true" [value]="name">
                            {{product.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </form> -->

                <div class=" col-md-10 pr-md-1">
                    <div class=" form-group">
                        <label>SSID:</label>
                        <!-- <input class="form-control" placeholder="IP Address" type="text" name="ipAddress" required> -->
                        <!-- <mat-error *ngIf="ethernetForm.ipAddress.invalid">IP Address is invalid!</mat-error> -->
                        <select title="Select Wifi Network" formControlName="username" name="username"
                            placeholder="select wifi network" class="form-control" placeholder="Available Network"
                            id="exampleFormControlSelect1" required>
                            <option *ngFor="let network of data.networks" style="color: black;" [value]="network">
                                {{network}}
                            </option>
                            <!-- <option style="color: black;" value="down">Down</option> -->

                        </select>
                        <mat-error *ngIf="wifiForm.username.invalid">ssid is required,Select from DropDown</mat-error>
                        <!-- <mat-error *ngIf="wifiFormGroup.ssid.invalid">User Name is required!</mat-error> -->
                    </div>
                </div>
                <div class=" col-md-10 pr-md-1">

                    <div class=" form-group">
                        <label>Password:</label>
                        <!-- <input class="form-control" placeholder="Password" type="text" name="ipAddress" required> -->
                        <!-- <mat-error *ngIf="ethernetForm.ipAddress.invalid">IP Address is invalid!</mat-error> -->
                        <!-- <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password"
                            placeholder="Password" type="password" name="password" required>
                        <button mat-button *ngIf="!this.show" matSuffix mat-icon-button aria-label="Clear"
                            (click)="this.show = !this.show;  ">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-button *ngIf="this.show" matSuffix mat-icon-button aria-label="Clear"
                            (click)="this.show = !this.show;  ">
                            <mat-icon>visibility_off</mat-icon>
                        </button> -->
                        <!-- <input class="form-control" placeholder="Password" [type]="hide ? 'password' : 'text'"
                            formControlName="password" required>
                        <mat-icon matSuffix mat-icon-button (click)="hide = !hide">
                            {{hide ? 'Disable' : 'enable'}}</mat-icon>
                        <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
                        <input class="form-control" formControlName="password" name="password" type="password"
                            id="myInput" minlength="8" required>
                        <input type="checkbox" (click)="myFunction()">Show Password
                    </div>
                    <!-- <mat-error *ngIf="wifiForm.password.invalid">Password is required!</mat-error> -->
                    <mat-error *ngIf="wifiForm.password.errors">Password must be at least 8 characters</mat-error>
                </div>
                <div mat-dialog-actions>
                    
                    <button class="btn btn-success btn-sm" color="basic" type="submit" cdkFocusInitial>Add Network</button>
                </div>
            </form>
            
        </div>
    </div>

    <!-- <div mat-dialog-actions>
        <button class="btn btn-success btn-sm" (click)="onclick()">No Thanks</button>
        <button class="btn btn-success btn-sm" color="basic" type="button" (click)="updateService()"
            cdkFocusInitial>Connect</button>
    </div> -->
</div>