<div class=" content">
    <div class=" row">
        <div class=" col-lg-6">
            <div class=" card card-tasks">
                <div class=" card-header">
                    <!-- <h3 class=" title d-inline"><i class=" tim-icons icon-wifi text-success"></i>Available Wifi
                        Networks</h3> -->

                    <div class=" card-body">
                        <div fxLayout="row">
                            <!-- <p>Current Mode: {{ mode }}</p> -->
                            <h4 fxFlex><i matTooltip="To connect to the device as a Hotspot, choose ‘Access Point’ mode. To connect the device to an existing WiFi network, choose ‘Station’ mode"
                                class=" tim-icons icon-alert-circle-exc text-success"> </i> Device Mode</h4>
                            <div fxflex>
                                <h3>{{presentMode}}</h3>
                            </div>
                        </div>
                        <!-- <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div> -->
                        <div fxLayout="row">
                            <!-- <p>Current Mode: {{ mode }}</p> -->
                            <h4 fxFlex><i class=" tim-icons icon-double-right text-success"> </i>Toggle Between Modes</h4>
                            <div fxflex>
                                <!-- <mat-slide-toggle color="primary">Toggle WiFi:</mat-slide-toggle> -->
                                <!--<mat-slide-toggle color="primary" class="margin-left text-success"
                                    [checked]="presentMode=='Access Point'" (click)="switchMode();reLoad();"
                                    matTooltip="Switches from Station to AP Mode">
                                </mat-slide-toggle>-->
                                <button class="btn btn-success btn-sm" (click)="switchMode();reLoad();">{{presentMode == 'Station'? 'Switch to Access': 'Switch to Station'}}</button>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <h4 fxFlex><i class=" tim-icons icon-wifi text-success"> </i>Available Wifi
                                Networks</h4>
                            <div fxflex>
                                <!-- <mat-slide-toggle color="primary">Toggle WiFi:</mat-slide-toggle> -->
                                <button mat-mini-fab class="margin-left text-success" (click)="searchNetwork()"
                                    matTooltip="WiFi List Gets Updated Every Minute">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>

                        </div>
                    </div>
                    <!-- <p class=" card-category d-inline">today</p>
                    <div ngbDropdown>
                        <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
                            <i class=" tim-icons icon-settings-gear-63"> </i>
                        </button>
                        <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                            <a href="javascript:void(0)" ngbDropdownItem> Action </a>
                            <a href="javascript:void(0)" ngbDropdownItem> Another action </a>
                            <a href="javascript:void(0)" ngbDropdownItem> Something else </a>
                        </div>
                    </div> -->
                </div>
                <div class=" card-body">
                
                    <!-- <div class=" table-full-width table-responsive">

                        <table class=" table">

                            <tbody *ngFor="let network of networks">
                                <tr>
                                    <td>
                                        <div class=" form">
                                            <label class=" form">
                                                <input class=" form-check-input" type="radio" value="" />

                                                <span class=" form-check-sign">
                                                    <span class=" check"> </span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <p class=" title">{{network}}</p>
                                        
                                    </td>
                                    <td class=" td-actions text-right">
                                        <button class=" btn btn-link" type="button" (click)="openDialog()"
                                            placement="left" ngbTooltip="Click to Connect" container="body">
                                            <i class=" tim-icons icon-pencil"> </i>
                                        </button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        </div> -->
                        <form fxLayout="column" [formGroup]="wifiFormGroup" (ngSubmit)="wifiConnect()">
                            <!-- <mat-slide-toggle color="primary" [(ngModel)]="hasParking" (change)="toggle($event)"
                                formControlName="hasParking">
                                Parking
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="hasLMS" (change)="toggle($event)"
                                formControlName="hasLMS">
                                LMS
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="hasOpenArea" (change)="toggle($event)"
                                formControlName="hasOpenArea">
                                Open Area
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="hasHotdesk" (change)="toggle($event)"
                                formControlName="hasHotdesk">
                                Hot Desk
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="hasCrbs" (change)="toggle($event)"
                                formControlName="hasCrbs">
                                CRBS
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="hasOccupancy" (change)="toggle($event)"
                                formControlName="hasOccupancy">
                                Occupancy
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="hasAllocation" (change)="toggle($event)"
                                formControlName="hasAllocation">
                                Seat Allocation
                            </mat-slide-toggle> -->
            
            
                            <!-- <form [formGroup]="form" novalidate>
                            <mat-form-field class="select-form">
                                <mat-select [formControl]="selectedServices" placeholder="Services" multiple>
                                    <mat-option *ngFor="let product of productType" selected="true" [value]="name">
                                        {{product.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </form> -->
            
                            <div class=" col-md-10">
                                <div class=" form-group">
                                    <h3>SSID:</h3>
                                    <!-- <input class="form-control" placeholder="IP Address" type="text" name="ipAddress" required> -->
                                    <!-- <mat-error *ngIf="ethernetForm.ipAddress.invalid">IP Address is invalid!</mat-error> -->
                                    <select title="Select Wifi Network" formControlName="username" name="username"
                                        placeholder="select wifi network" class="form-control" placeholder="Available Network"
                                        id="exampleFormControlSelect1" style="color:white;" required>
                                        <option value="" disabled selected>Select Available Networks</option>
                                        <option *ngFor="let network of networks" style="color: black;" placeholder="Available Networks" [value]="network">
                                            {{network}}
                                        </option>
                                        <!-- <option style="color: black;" value="down">Down</option> -->
            
                                    </select>
                                    <mat-error *ngIf="wifiForm.username.invalid">ssid is required,Select from DropDown</mat-error>
                                    <!-- <mat-error *ngIf="wifiFormGroup.ssid.invalid">User Name is required!</mat-error> -->
                                </div>
                            </div>
                            <div class=" col-md-10">
            
                                <div class=" form-group">
                                    <h3>Password:</h3>
                                    <!-- <input class="form-control" placeholder="Password" type="text" name="ipAddress" required> -->
                                    <!-- <mat-error *ngIf="ethernetForm.ipAddress.invalid">IP Address is invalid!</mat-error> -->
                                    <!-- <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password"
                                        placeholder="Password" type="password" name="password" required>
                                    <button mat-button *ngIf="!this.show" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="this.show = !this.show;  ">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                    <button mat-button *ngIf="this.show" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="this.show = !this.show;  ">
                                        <mat-icon>visibility_off</mat-icon>
                                    </button> -->
                                    <!-- <input class="form-control" placeholder="Password" [type]="hide ? 'password' : 'text'"
                                        formControlName="password" required>
                                    <mat-icon matSuffix mat-icon-button (click)="hide = !hide">
                                        {{hide ? 'Disable' : 'enable'}}</mat-icon>
                                    <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
                                    <input class="form-control" placeholder="Enter Password" formControlName="password" name="password" type="password"
                                        id="myInput" minlength="8" required>
                                    <input type="checkbox" (click)="myFunction()"> <span> Show Password</span>
                                </div>
                                <!-- <mat-error *ngIf="wifiForm.password.invalid">Password is required!</mat-error> -->
                                <mat-error *ngIf="wifiForm.password.errors">Password must be at least 8 characters</mat-error>
                            </div>
                            <div mat-dialog-actions>
                                
                                <button class="btn btn-success btn-sm" color="basic" type="submit" cdkFocusInitial>Add Network</button>
                            </div>
                        </form>
                    
                </div>
            </div>
        </div>
        <!-- <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">Connection Settings:</h5>
                            <h2 class=" card-title">Ethernet Settings</h2>
                            <h3><u>MAC Address:</u> </h3>
                        </div>

                    </div>
                </div>
                <div class=" card-body">

                    <form>
                        <div class="row">

                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <h4>IP Address</h4>
                                    <input class="form-control" placeholder="IP Address" type="text" name="ipAddress"
                                        required>
                                    <mat-error *ngIf="ethernetForm.ipAddress.invalid">IP Address is invalid!</mat-error>

                                </div>
                            </div>
                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <h4>Gateway</h4>
                                    <input class="form-control" placeholder="IP Address" type="text" name="ipAddress"
                                        required>
                                    <mat-error *ngIf="ethernetForm.gateway.invalid">IP Address is invalid!</mat-error>

                                </div>
                            </div>
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <button class="btn btn-success btn-lg" type="submit">Set Static IP</button>


                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div> -->
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">

                            <!-- <h5 class=" card-category">Connection Settings:</h5> -->
                            <h2 class=" card-title">
                                Bluetooth Information:
                            </h2>
                            <!-- <h3><u>MAC Address:</u> {{macAddress}}</h3> -->
                        </div>

                    </div>
                </div>
                <div class=" card-body">
                    <h3 class=" card-title">&nbsp;&nbsp;&nbsp;&nbsp;<i matTooltip="Bluetooth Address(Ble Address) of Device"
                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Bluetooth Address(Ble Address):
                        <b>{{bleAddress}}</b>
                    </h3>
                    <h3 class=" card-title">&nbsp;&nbsp;&nbsp;&nbsp;<i matTooltip="Address of the Host"
                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Host Address:
                        <b>{{hostAddress}}</b>
                    </h3>
                    
                    
                <form fxLayout="column" [formGroup]="hostform" (ngSubmit)="updateHostAddress();reLoad();">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <h3><i matTooltip="Enter the Host Address for Bluetooth Connectivity"
                                    class=" tim-icons icon-alert-circle-exc text-success"> </i> Enter Host Address:</h3>
                                    <input class="form-control" formControlName="btaddress" name="btaddress"
                                    maxlength="4" required>  
                        </div>
                        <button class="btn btn-success btn-sm" type="submit">Update
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    
 </div>