<div class=" content">
    <div class=" row">
        <div class=" col-md-6">
            <div class=" card">
                <div class=" card-header">
                    <h3 class=" card-title">Sensor Name: <b>{{sensorName}}</b></h3>
                </div>
                <div class=" card-header">
                    <h3 class=" card-title">Sensor Address: <b>{{bleAddress}}</b></h3>
                </div>
                <div class=" card-body">

                    <h4 class=" card-title"> Live Image View: </h4>
                    <div layout="row" layout-align="center center" style="padding:5px;min-height: 300px;">
                        <img [src]="liveCameraImage" alt="LOADING...."
                            style="color:#fff; border: 3px solid rgb(187, 30, 30); width:500px;height:310px">
                        <!-- <img src="../../../assets/img/pcamera.jpg" alt="loading"
                            style="color:#fff; border: 3px solid rgb(187, 30, 30); width:450px;height:310px"> -->
                    </div>


                </div>
            </div>
        </div>

        <div class=" col-md-6">
            <div class=" card">
                <div class=" card-header">
                    <h2 class=" card-title">Camera Alignment Settings</h2>
                </div>
                <div class=" card-header">
                    <h4 class=" card-title">Client Line Points:</h4>
                </div>


                <div class=" card-body">



                    <div class=" row">
                        <!-- <div class=" col-md-5 pr-md-1">
                                <div class=" form-group">
                                    <label> Company (disabled) </label>
                                    <input class=" form-control" disabled="" placeholder="Company" type="text"
                                        value="Creative Code Inc." />
                                </div>
                            </div> -->
                        <div class=" col-md-4 pr-md-1">
                            <div class="form-group">
                                <h4 for="exampleFormControlSelect1"><i matTooltip="Select Line Points Intersection"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Line Points:
                                </h4>
                                <select name="linePoints" id="linePoints" title="Select Line Points Intersection"
                                    class="form-control" placeholder="Horizontal Line Points" [(ngModel)]="linePoints">
                                    <option style="color: black;" value="0.0,0.5,1.0,0.5">Horizontal Line Points
                                    </option>
                                    <option style="color: black;" value="0.5,0.0,0.5,1.0">Vertical Line Points
                                    </option>

                                </select>
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateLinePoints()">Update
                            </button>

                        </div>
                        <div class=" col-md-4 px-md-1">
                            <div class="form-group">
                                <h4 for="exampleFormControlSelect1"><i matTooltip="Specify Entrance Point of door"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Entrance Points:
                                </h4>
                                <select title="Specify Entrance Point of door" class="form-control"
                                    [(ngModel)]="entrance" id="exampleFormControlSelect1">
                                    <option style="color: black;" value="up">Up</option>
                                    <option style="color: black;" value="down">Down</option>

                                </select>
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateEntranceData()">Update
                            </button>

                        </div>
                        <div class=" col-md-4 pl-md-1">
                            <div class="form-group">
                                <h4><i matTooltip="Enter the Room Name"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Enter Location:</h4>
                                <input title="Enter the Room Name" class=" form-control" [(ngModel)]="location"
                                    value={{location}} type="text" />
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateLocation()">Update
                            </button>

                        </div>
                        <!-- <div class=" col-md-4 pl-md-1">
                            <div class=" form-group">
                                <h4><i matTooltip="Enter the Capacity of the Room to be filled"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Min Wait Time:
                                </h4>
                                <input title="Enter the Capacity of the Room to be filled" class=" form-control"
                                    [(ngModel)]="capacity" placeholder="10" type="text" />
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateCapacity()">Update
                            </button>
                        </div> -->
                        <div class=" col-md-10 px-md-1 ">

                            <div class="card-header">
                                <h4 class=" card-title">General Settings:</h4>
                            </div>
                        </div>

                        <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                                <h4><i matTooltip="Enter the Capacity of the Room to be filled"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Enter Capacity:</h4>
                                <input title="Enter the Capacity of the Room to be filled" class=" form-control"
                                    [(ngModel)]="capacity" value={{capacity}} type="text" />
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateCapacity()">Update
                            </button>
                        </div>
                        <div class=" col-md-4 px-md-1">
                            <div class=" form-group">
                                <h4><i matTooltip="Enter the Minimum Wait Time the person should wait"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Min Wait Time:
                                </h4>
                                <input title="Enter the Minimum Wait Time the person should wait" class=" form-control"
                                    [(ngModel)]="min_wait_time" value={{min_wait_time}} type="text" />
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateMinWaitTime()">Update
                            </button>
                        </div>
                        <div class=" col-md-4 pl-md-1">
                            <div class=" form-group">
                                <h4><i matTooltip="Enter the Maximum Wait Time the person should wait"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Max Wait Time:
                                </h4>
                                <input title="Enter the Maximum Wait Time the person should wait" class=" form-control"
                                    [(ngModel)]="max_wait_time" value={{max_wait_time}} type="text" />
                            </div>
                            <button class=" btn btn-success btn-sm" (click)="updateMaxWaitTime()">Update
                            </button>
                        </div>

                        <!-- <div class=" col-md-5 px-md-1">
                            <div class="form-group">
                                <h4 for="exampleFormControlSelect1"><i matTooltip="Select the Location"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Select Location:
                                </h4>
                                <select title="Select the Location" class="form-control" id="exampleFormControlSelect1"
                                    [(ngModel)]="location">
                                    <option style="color: black;" value="meeting Room">Meeting Room</option>
                                    <option style="color: black;" value="conference Room">Conference Room</option>

                                </select>
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateLocation()">Update
                            </button>

                        </div> -->
                        <!-- <div class=" col-md-10 px-md-1 ">

                            <div class="card-header">
                                <h4 class=" card-title">Wait Time:</h4>
                            </div>
                        </div>

                        <div class=" col-md-5 pr-md-1">
                            <div class=" form-group">
                                <h4><i matTooltip="Enter the Capacity of the Room to be filled"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Minimum Wait Time:
                                </h4>
                                <input title="Enter the Capacity of the Room to be filled" class=" form-control"
                                    [(ngModel)]="capacity" placeholder="10" type="text" />
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateCapacity()">Update
                            </button>
                        </div> -->
                        <!-- <div class=" col-md-5 px-md-1">
                            <div class="form-group">
                                <h4 for="exampleFormControlSelect1"><i matTooltip="Select the Location"
                                        class=" tim-icons icon-alert-circle-exc text-success"> </i> Select Location:
                                </h4>
                                <select title="Select the Location" class="form-control" id="exampleFormControlSelect1"
                                    [(ngModel)]="location">
                                    <option style="color: black;" value="meeting Room">Meeting Room</option>
                                    <option style="color: black;" value="conference Room">Conference Room</option>

                                </select>
                            </div>
                            <button class="btn btn-success btn-sm" (click)="updateLocation()">Update
                            </button>

                        </div> -->
                        <!-- <div class=" card-header">
                            <h4 class=" card-title">Client Line Points:</h4>
                        </div> -->

                    </div>

                    <!-- <div fxlayout="row" class="d-flex justify-content-start " fxflex>
                            <select placeholder="Select Line Points" [ng-model]="selectedParameter"
                                style="max-width: 300px;">
                                <optgroup label="Select Line Points">

                                    <option value="horlinePoints">Horizontal Line Points</option>
                                    <option value="verlinePoints">Vertical Line Points</option>

                                </optgroup>
                            </select>
                            
                            <button class="btn btn-success btn-sm" ng-click="updateEntranceData()">Update
                            </button>

                        </div> -->


                    <!-- <md-card-content>
                        <div class=" card-header">
                            <h4 class=" card-title">Entrance:</h4>
                        </div>
                        <div fxlayout="row" class="d-flex justify-content-start" fxflex>
                            <select placeholder="Select Line Points" [ng-model]="selectedParameter"
                                style="max-width: 300px;">
                                <optgroup label="Select Entrance Point">

                                    <option value="up">Up</option>
                                    <option value="down">Down</option>

                                </optgroup>
                            </select>
                        
                            <button class="btn btn-success btn-sm" ng-click="updateEntranceData()">Update
                            </button>

                        </div>

                    </md-card-content> -->
                    <!-- <ngb-alert [type]="'primary'" *ngIf="!staticAlertClosed3" [dismissible]="false">
                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close"
                            (click)="staticAlertClosed3 = true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <span>
                            <b> Primary - </b> This is a regular notification made
                            with ".alert-primary"
                        </span>
                        </ngb-alert>
                        <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed4" [dismissible]="false">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert"
                                aria-label="Close" (click)="staticAlertClosed4 = true">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                            <span>
                                <b> Info - </b> This is a regular notification made with
                                ".alert-info"
                            </span>
                        </ngb-alert>
                        <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed5" [dismissible]="false">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert"
                                aria-label="Close" (click)="staticAlertClosed5 = true">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                            <span>
                                <b> Success - </b> This is a regular notification made
                                with ".alert-success"
                            </span>
                        </ngb-alert>
                        <ngb-alert [type]="'warning'" *ngIf="!staticAlertClosed6" [dismissible]="false">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert"
                                aria-label="Close" (click)="staticAlertClosed6 = true">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                            <span>
                                <b> Warning - </b> This is a regular notification made
                                with ".alert-warning"
                            </span>
                        </ngb-alert>
                        <ngb-alert [type]="'danger'" *ngIf="!staticAlertClosed7" [dismissible]="false">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert"
                                aria-label="Close" (click)="staticAlertClosed7 = true">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                            <span>
                                <b> Danger - </b> This is a regular notification made with
                                ".alert-danger"
                            </span>
                        </ngb-alert> -->
                </div>







                <!-- <div class=" col-md-4 pr-md-1">
                        <div class=" form-group">
                            <h4><i matTooltip="Enter the Capacity of the Room to be filled"
                                    class=" tim-icons icon-alert-circle-exc text-success"> </i> Enter Capacity:</h4>
                            <input title="Enter the Capacity of the Room to be filled" class=" form-control"
                                [(ngModel)]="capacity" placeholder="10" type="text" />
                        </div>
                        <button class="btn btn-success btn-sm" (click)="updateCapacity()">Update
                        </button>
                    </div> -->



            </div>
        </div>
        <div class=" col-md-6">
            <div class=" card">
                <div class=" card-body">
                    <div class=" places-buttons">
                        <!-- <div class=" row">
                            <div class=" col-md-2 ml-auto mr-auto text-center">
                                <h4 class=" card-title">Notifications Places</h4>
                                <p class=" category">Click to view notifications</p>
                            </div>
                        </div> -->
                        <div class=" row">
                            <div class=" col-lg-9 ml-auto mr-auto">
                                <div class=" row">
                                    <!-- <div class=" col-md-4">
                                        <button class=" btn btn-danger btn-block"
                                            (click)="showNotification('top', 'left')">
                                            Top Left
                                        </button>
                                    </div> -->
                                    <div class=" col-md-6">
                                        <button mat-raised-button class=" btn btn-success btn-sm"
                                            (click)="startStopLiveView()" [disabled]="liveStatus">Start Live
                                            View</button>
                                    </div>
                                    <div class=" col-md-6">
                                        <button mat-raised-button class=" btn btn-success btn-sm"
                                            [disabled]="!liveStatus" (click)="startStopLiveView()">
                                            Deploy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class=" row">
                            <div class=" col-lg-8 ml-auto mr-auto">
                                <div class=" row">
                                    <div class=" col-md-4">
                                        <button class=" btn btn-danger btn-block"
                                            (click)="showNotification('bottom', 'left')">
                                            Bottom Left
                                        </button>
                                    </div>
                                    <div class=" col-md-4">
                                        <button class=" btn btn-danger btn-block" (click)="
                          showNotification('bottom', 'center')
                        ">
                                            Bottom Center
                                        </button>
                                    </div>
                                    <div class=" col-md-4">
                                        <button class=" btn btn-danger btn-block"
                                            (click)="showNotification('bottom', 'right')">
                                            Bottom Right
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>