<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Devices</h5>
                        <h2 class="card-title">Mobile</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="shadow p-1 mb-5 rounded card card-stats btn-color">
                                <div class="card-header card-header-warning card-header-icon font-icon-detail2">
                                    <div class="font-icon-detail1">
                                        <i class="tim-icons icon-mobile text-danger-states"> </i>
                                    </div>
                                    <h4 class="card-title">ANDROID</h4>
                                    <h3 class="card-title">29</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="shadow p-1 mb-5 rounded card card-stats btn-color">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="font-icon-detail1">
                                        <i class="tim-icons icon-tablet-2 text-info"> </i>
                                    </div>
                                    <h4 class="card-title">IOS</h4>

                                    <h3 class="card-title">77</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>