<mat-card class="mat-elevation-z8">
    <form fxLayout="column" [formGroup]="userFormGroup" (ngSubmit)="CreateUsers()">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Email ID</mat-label>
            <input matInput formControlName="email" placeholder="Email ID" type="email" name="email" email required>
            <mat-error *ngIf="loginForm.email.invalid">Email ID is required!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>FullName</mat-label>
            <input matInput formControlName="fullName" placeholder="FullName" type="text" name="fullName" required>
            <mat-error *ngIf="loginForm.fullName.invalid">fullName is required!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" placeholder="User Name" type="text" name="username" required>
            <mat-error *ngIf="loginForm.username.invalid">User Name is required!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Password" type="password" name="password" required>
            <mat-error *ngIf="loginForm.password.invalid">Password is required!</mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Customers</mat-label>
            <mat-select placeholder="Select" [disabled]="this.AdminValue == true ? true: false" formControlName="Buildings" multiple>
                <mat-optgroup *ngFor="let group of siteSelect " [disabled]=" ( group.isRoom || group.isSegment || group.isDesk ) ? false: true" [label]="group.name">
                    <mat-option *ngFor="let item of group.buildings" [disabled]="item.disabled" [value]=item.id>{{ item.alias}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
            <mat-error *ngIf="loginForm.Buildings.invalid">Buildings is required!</mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label> Permissions</mat-label>
            <mat-slide-toggle color="primary" [(ngModel)]="AdminValue" (change)="toggle($event)" formControlName="isAdmin">
                isAdmin!
            </mat-slide-toggle>
            <textarea matInput hidden></textarea>
        </mat-form-field>
        <button type="submit" [disabled]="userFormGroup.invalid" mat-raised-button color="primary">Create User</button>
    </form>
</mat-card>