<mat-card class="mat-elevation-z8">
    <form fxLayout="column" [formGroup]="customerFormGroup" (ngSubmit)="CreateCustomers()">
        <!-- <mat-form-field fxFlex appearance="outline">
            <mat-label>Email ID</mat-label>
            <input matInput formControlName="email" placeholder="Email ID" type="email" name="email" email required>
            <mat-error *ngIf="loginForm.email.invalid">Email ID is required!</mat-error>
        </mat-form-field> -->
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="name" placeholder="Customer Name" type="text" name="name" required>
            <mat-error *ngIf="loginForm.name.invalid">Customer Name is required!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Building Name</mat-label>
            <input matInput formControlName="buildingName" placeholder="Building Name" type="text" name="buildingName" required>
            <mat-error *ngIf="loginForm.buildingName.invalid">Building Name is required!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" placeholder="Location" type="text" name="location" required>
            <mat-error *ngIf="loginForm.location.invalid">Location is required!</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Sale Type</mat-label>
            <mat-select formControlName="saleType" (selectionChange)="onTypeChanged($event)" required>
                <mat-option *ngFor="let type of saleType" [value]="type.type">{{type.type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="loginForm.saleType.invalid">SaleType is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label> Services</mat-label>
            <div class="row">
                <div class="col-md-12">
                    <div class="toggle-left">
                        <mat-slide-toggle color="primary" [(ngModel)]="hasParking" (change)="toggle($event)" formControlName="hasParking">
                            Parking
                        </mat-slide-toggle>


                    </div>
                    <mat-slide-toggle color="primary" class="toggle-center" [(ngModel)]="hasLMS" (change)="toggle($event)" formControlName="hasLMS">
                        LMS
                    </mat-slide-toggle>
                    <div class="toggle-right">
                        <mat-slide-toggle color="primary" [(ngModel)]="hasOpenArea" (change)="toggle($event)" formControlName="hasOpenArea">
                            Open Area
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="toggle-left">
                        <mat-slide-toggle color="primary" [(ngModel)]="hasHotdesk" (change)="toggle($event)" formControlName="hasHotdesk">
                            Hot Desk
                        </mat-slide-toggle>
                    </div>
                    <mat-slide-toggle class="toggle-center" color="primary" [(ngModel)]="hasCrbs" (change)="toggle($event)" formControlName="hasCrbs">
                        CRBS
                    </mat-slide-toggle>
                    <div class="toggle-right">
                        <mat-slide-toggle color="primary" [(ngModel)]="hasOccupancy" (change)="toggle($event)" formControlName="hasOccupancy">
                            Occupancy
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="toggle-left">
                        <mat-slide-toggle color="primary" [(ngModel)]="hasAllocation" (change)="toggle($event)" formControlName="hasAllocation">
                            Seat Allocation
                        </mat-slide-toggle>

                    </div>
                </div>
            </div>



            <textarea matInput hidden></textarea>
        </mat-form-field>
        <button type="submit" [disabled]="customerFormGroup.invalid" mat-raised-button color="primary">Create User</button>
    </form>
</mat-card>