@import "../../../adappt-constans.scss";
.full-width {
    width: 100%!important;
}

.alert-radio-red {
    color: red;
}

.alert-radio-green {
    color: $adappt-green;
}

.material-icons-new {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 57px;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}