<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customers</h4>
                    <p class="category">Details of Customers</p>
                    <!-- <ng-template #tipContent>Add Customers</ng-template> -->
                    <button class="input-margin" mat-icon-button color="primary" ngbTooltip="Add Customer">
                        <mat-icon class="mat-icon material-icons" (click)="AddCustomers()">add_circle</mat-icon>
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Building</th>
                                    <th>Location</th>
                                    <th class=" text-center">SaleType</th>
                                    <th>LMS</th>
                                    <th class=" text-center">Occupancy</th>
                                    <th class=" text-center">Open Area</th>
                                    <th>Crbs</th>
                                    <th class=" text-center">Seat Allocation</th>
                                    <th>Hot Desk</th>
                                    <th>Parking</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cust of customers">
                                    <td> <button class="input-margin" mat-icon-button color="primary" ngbTooltip="Delete Customer">
                                        <mat-icon class="mat-icon material-icons" (click)="DeleteCustomers(cust.id)">delete</mat-icon>
                                    </button></td>
                                    <td>{{cust.name}}</td>
                                    <td>{{cust.buildingName}}</td>
                                    <td>{{cust.location}}</td>
                                    <td class="text-center">{{cust.saleType}}</td>
                                    <td>
                                        <!-- <div class="custom-control custom-checkbox add"> -->
                                        <mat-icon *ngIf="cust.hasLMS==true" class="mat-icon material-icons">done</mat-icon>
                                        <!-- <input type="checkbox" class="custom-control-input" [checked]="cust.hasLMS">
                                            <label class="custom-control-label" for="customCheck1"></label> -->
                                        <!-- </div> -->
                                    </td>
                                    <td class=" text-center">
                                        <mat-icon *ngIf="cust.hasOccupancy==true" class="mat-icon material-icons">done</mat-icon>
                                    </td>
                                    <td class=" text-center">
                                        <mat-icon *ngIf="cust.hasOpenArea==true" class="mat-icon material-icons">done</mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon *ngIf="cust.hasCrbs==true" class="mat-icon material-icons">done</mat-icon>
                                    </td>
                                    <td class=" text-center">
                                        <mat-icon *ngIf="cust.hasAllocation==true" class="mat-icon material-icons">done</mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon *ngIf="cust.hasHotdesk==true" class="mat-icon material-icons">done</mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon *ngIf="cust.hasParking==true" class="mat-icon material-icons">done</mat-icon>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>