.room
{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: rgba(0,147,125,0.4);
    cursor: move;
    color: #FFF;
    font-size: 12px;
    border:3px solid #00937d;
    box-shadow:0 1px 5px rgba(0,147,125,0.4);
    vertical-align:middle;
}