<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-8">
                            <div class="shadow p-1 mb-5 rounded card card-stats btn-color">
                                <div class="card-header card-header-success card-header-icon">
                                    <div fxLayout="row" fxLayout.xs="row"  fxLayout.sm="row">
                                        <div fxFlex="20%;" fxFlex.xs="80%" fxFlex.sm="100%">
                                            <div>
                                                <i class="font-icon-detail1 tim-icons icon-single-02 text-success"> </i>
                                               
                                            </div>
                                        </div>
                                        <div fxFlex="40%;" style="margin: auto;">
                                            
                                                <h3 style="margin: auto;font-size: 1.4vw;">Avg Occupancy</h3>
                                               
                                    
                                        </div>
                                        <div fxFlex="40%;" fxFlex.xs="80%" class="numberclasses2" fxFlex.sm="100%">
                                            <div>
                                                <div>
                                                    <p>
                                                        <span class="number1">{{cardData.mean}}</span>
                                                <span> / {{cardData.capacity}}</span>
                                                        
                                                    </p>
                                                </div>
                                               
                                            </div>
                                        </div>

                                    </div>

                                    <!-- <h3 class="card-title">{{clients.length}}</h3> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-8">
                            <div class="shadow p-1 mb-5 rounded card card-stats btn-color">
                                <div class="card-header card-header-success card-header-icon">
                                    <div fxLayout="row" fxLayout.xs="row"  fxLayout.sm="row">
                                        <div fxFlex="20%;" fxFlex.xs="80%" fxFlex.sm="100%">
                                            <div>
                                                <i class="font-icon-detail1 tim-icons icon-sound-wave text-success"> </i>
                                               
                                            </div>
                                        </div>
                                        <div fxFlex="40%;" style="margin: auto;">
                                            
                                            <h3 style="margin: auto;font-size: 1.4vw;">Peak Occupancy</h3>
                                           
                                
                                    </div>
                                        <div fxFlex="40%;" fxFlex.xs="80%" fxFlex.sm="100%" class="numberclasses2">
                                            <div>
                                                <div>
                                                    <p>
                                                        <span class="number1">{{cardData.max}}</span>
                                                <span> / {{cardData.capacity}}</span>
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- <h3 class="card-title">{{clients.length}}</h3> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-8">
                            <div class="shadow p-1 mb-5 rounded card card-stats btn-color">
                                <div matTooltip="Comparision between previous week's occupancy" class="card-header card-header-success card-header-icon">
                                    <div fxLayout="row" fxLayout.xs="row"  fxLayout.sm="row">
                                        <div fxFlex="20%;" fxFlex.xs="80%" fxFlex.sm="100%">
                                            <div>
                                                <i class="font-icon-detail1 tim-icons icon-sound-wave text-success"> </i>
                                               
                                            </div>
                                        </div>
                                        <div fxFlex="40%;" style="margin: auto;">
                                            
                                            <h3 style="margin: auto;font-size: 1.4vw;">vs Last Week</h3>
                                           
                                
                                    </div>
                                        <div fxFlex="40%;" fxFlex.xs="80%" fxFlex.sm="100%" class="numberclasses2">
                                            <div>
                                                <div>
                                                    <p>
                                                        <span class="number1">{{cardData.perc_change}}</span>
                                                        <span>%</span>
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- <h3 class="card-title">{{clients.length}}</h3> -->
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row" style="margin-right: 10px;" fxLayoutAlign="end end">

                        <mat-form-field fxFlex="20" appearance="outline" style="width:20%">
                            <mat-label>Date</mat-label>
                            <input matInput placeholder="Choose a date" [max]="tomorrow" [value]="selected" [(ngModel)]="selected" (ngModelChange)="sendDataByDates(selected)" [satDatepicker]="picker">
                            <sat-datepicker #picker [rangeMode]="true">
                            </sat-datepicker>
                            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                        </mat-form-field>
                    </div>
                </div>
                    <div class=" col-lg-12">
                        <div class=" card card-chart">
                            <div class=" card-header">
                                <h5 class=" card-category">Actual People Count</h5>
                                <h3 class=" card-title">
                                    <i class="  text-success"> </i> Room Capacity : <i class="text-success">{{cardData.capacity}}</i>
                                </h3>
                            </div>
                            <div class=" card-body">
                                <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class=" row">

                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">Percentage</h5>
                            <h2 class=" card-title">Total Occupancy</h2>
                        </div>
                    </div> -->
               
                <!-- <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
                </div> -->
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Average Occupancy Percentage</h5>
                    <h3 class=" card-title">
                        <i class="text-danger-states"> </i> Present Week 
                    </h3>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
                </div>
            </div>
        </div>
        <div  matTooltip="Occupancy percentage based on individual and group of people for better analysis" class=" col-lg-6">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h5 class=" card-category">Average Occupancy Percentage</h5>
                    <h3 class=" card-title">
                        <i class="text-info"></i>Based On Number Of People
                    </h3>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
                </div>
            </div>
        </div>
       
    </div>
    <div class=" col-lg-12">
        <div class=" card card-chart">
            <div class=" card-header">
                <h5 class=" card-category">Percentage</h5>
                <h2 class=" card-title">Total Occupancy</h2>
            </div>
            <div class=" card-body">
                <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
            </div>
        </div>
    </div>
</div>
